{% extends "base_admin.html" %}
{% block content%}
    <h2>Apparence</h2>

<div style="width: 40%; float: left;">		
	<h3>Gestion des Onglets</h3>

<form method='post' action='' id='formOnglet'><table style="width: 100%;">

{% for onglet in onglets_list %}
<tr>
<td style="width: 50px;">
<a href="" onclick="ongletDown('{{ onglet.onglet }}'); return false;"><img src="{{ MEDIA_URL }}/skins/crealio/img/flecheUp.png" alt="up"/></a> 
<a href="" onclick="ongletUp('{{ onglet.onglet }}'); return false;"><img src="{{ MEDIA_URL }}/skins/crealio/img/flecheDown.png" alt="down"/></a>
</td>

<td><input id='{{ onglet.onglet }}' type="hidden" name="{{ onglet.onglet }}" value="{{ onglet.onglet }}" />{{ onglet.title }}</td>
</tr>
{% endfor %}

</table></form>


</div>
<div style='width: 55%;float: right;'>
	<h3>Choix du skin par defaut</h3>
	
<form><p style="margin-left: 60px;">
    <select disabled="disabled">
        <option value="">Skin par Default</option>
    </select></p>
</form>

</div>
	<div id="admin_bouton_logout" style="clear: both;">
	<form action="/administration/" method="GET">
		<input type="submit" value="Retour Administration" />
	</form>
	</div>


<script type="text/javascript">
    function ongletUp(num)
    {
        var tmp=parseInt(num)+1;
        if(document.getElementById(tmp)) 
        {
            document.getElementById(num).value = parseInt(document.getElementById(num).value)+1;
            document.getElementById(tmp).value = parseInt(document.getElementById(tmp).value)-1;
            document.getElementById('formOnglet').submit();
        }
        
    }
    
    function ongletDown(num)
    {
        var tmp=parseInt(num)-1;
        if(document.getElementById(tmp)) 
        {        
            document.getElementById(num).value = parseInt(document.getElementById(num).value)-1;
         
            document.getElementById(tmp).value = parseInt(document.getElementById(tmp).value)+1;
        
            document.getElementById('formOnglet').submit();
        }
        
    }
</script>

{% endblock %}
