{% extends "base_admin.html" %}
{% load thumbnail %}

{% block title %}Modification de l'image du profil - Administration - {{ portfolio_name }}  - {{SITE_NAME}}{% endblock %}

{% block jscript %}
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_conf.js"></script>
<script type="text/javascript">
   function conf_suppr()
    {
        return confirm("Êtes-vous sûr de vouloir supprimer la photo d'identité ?");
    }
</script>

{% endblock %}

{% block content %}
<h2>Modification de la photo d'identité</h2>
<form enctype="multipart/form-data" method="post" action=".">
  <table style="margin: 20px;">
    <tr>
      <td><a href="http://{{DOMAIN_NAME}}/medias/{{identite}}" ><img class="liste_image" src="{% thumbnail identite 150x96 %}" alt="{{portfolio_name}}" title="{{portfolio_name}}" /></a></td>
      <td><a href="supprimer/" onclick="return conf_suppr();">Supprimer la photo</a></td>
    </tr>
  </table>
  {{ form.as_p }}
<p style="text-align: center;width: 100%">
  <input type="submit" value="Envoyer" />
  <input type="button" value="Annuler" onclick="history.go(-1);"/>
</p>
</form>
{% endblock %}
