{% extends "base_admin.html" %}
{% block content %}
    <h2>Modification d'adresse email</h2>
        <p>Votre changement d'email a bien été prise en compte, merci de consulter votre boite email pour en valider l'existence.</p>
        <p>Votre compte a été desactivé en attendant la validation de votre adresse email.</p>
        <p><em><u>Note :</u> Vérifier la boite de courrier indésirable car étant donné que le mail a été envoyé depuis un site web il se peut qu'il soit considérer comme un spam</em></p>
{% endblock %}
