{% extends "base_admin.html" %}
{% load thumbnail %}

{% block jscript %}



{% endblock jscript %}

{% block content %}


<div class="boutonAidePopUp">
	<p><a href="" onclick="openPopUpAideId('aidePopUp'); return false;"><em>Aide ?</em></a> | <a href="/accounts/logout/">Deconnexion</a> </p>
</div>


<h2>Panneau d'administration de votre WebCV</h2>

<!-- ############ DEBUT DU POP UP L'AIDE ########### -->
<script type="text/javascript" src="{{MEDIA_URL}}/jscripts/aide/popUpAide.js"></script>

<div id="aidePopUp">
	<div class="boutonClosePopUp"><a href="" onclick="openPopUpAideId('aidePopUp'); return false;"></a></div>
	<h3>Que faire sur la page Administration</h3>
	<p>C'est grâce à la page Administration de votre Créalio que vous pourrez en modifier son contenu. Cette page constitue une synthèse des fonctionnalités qui vous sont proposées.</p>
	<h3>5 rubriques principales.</h3>
	<p>La page administrations se composent de 5 rubriques distinctes :</p>
	<ul>
		<li><strong>Vos données</strong> : C'est dans cette rubrique que vous gérez vos informations personnelles. Celle ci seront affiché sur chaque page de votre CV et constitue une synthèse rapide de votre personne.</li>
		<li><strong>Curriculum Vitae</strong> : Cette partie gère le contenu du coeur même de votre CV. Il s'agit pour ainsi dire des mêmes informations que celle figurant sur un CV classique au format Papier.</li>
		<li><strong>Votre Créalio</strong> : Il s'agit d'une présentation de l'ensemble de vos réalisations.</li>
		<li><strong>Paramètres</strong> : Modifier tous les paramètres techniques de votre compte Créalio.</li>
		<li><strong>Statistiques</strong> : Dans cette partie de la page, vous accédez à l'ensemble des statistiques de votre CV.</li>
	</ul>
	<h3>Vos suggestions</h3>
	<p>Le formulaire en fin de page vous permet de suggérer des améliorations vis à vis du site en général. Nous sommes ouvert à toutes les idées quant à l'amélioration de notre service et vous répondrons dans les meilleurs délais.</p>
</div>

<!-- ############ FIN DE L'AIDE ########### -->

<div class="adminBoxBig">
	<h3>Vos données</h3>
	
	{% if id %} 
	<img src="{% thumbnail id 120x96 %}" alt="{{ site.user.first_name|capfirst }} {{ site.user.last_name|upper }}" title="{{ site.user.first_name }} {{ site.user.last_name }}" />
	{% else %}
	<img src="{{ MEDIA_URL }}/skins/crealio/img/Admin_Photo_User.png" alt="{{ site.user.first_name|capfirst }} {{ site.user.last_name|upper }}" title="{{ site.user.first_name }} {{ site.user.last_name }}" />
	{% endif %}

	
	<p class="texteBox">
		<a href="accueil/">Votre message d'Accueil</a><br/>
		<a href="informations/">Vos informations personnelles</a><br/>
		<a href="identite/">Votre photo d'identité</a><br/>
		<a href="contact/">Votre message de Contact</a>
	</p>
	
</div>
<div class="adminPubBox">
	<script type="text/javascript"><!--
	google_ad_client = "pub-0150814735647856";
	/* 180x150, date de création 01/02/09 */
	google_ad_slot = "8580358469";
	google_ad_width = 180;
	google_ad_height = 150;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>


<div class="adminBox">
	<h3>Curriculum vitae</h3>
	
	<img src="{{ MEDIA_URL }}/skins/crealio/img/Admin_CV_Contenu.png" alt="Donnees" />
	
	{% if is_cv %}
	<p class="texteBox">
		<a href="cv/page/">Votre message d'Introduction</a><br/>
		<a href="cv/infos/">Le contenu</a><br/>
		<a href="cv/apparence/">L'apparence</a>
	</p>
	
	
	<div class="activePages">
		<p>
		  <a href="changePageStatus/cv/">
		    {% if is_online_cv %}
		    <span class="red">Désactiver cette page</span>
		    {% else %}
		    <span class="green">Activer cette page</span>
		    {% endif %}
		  </a>
		</p>
	</div>


	{% else %}
	<p class="texteBox">
		<a href="cv/page/">Créez votre Curriculum Vitæ</a>
	</p>			
	{% endif %}
</div>


<div class="adminBox">
	<h3>Votre Créalio</h3>
	
	<img src="{{ MEDIA_URL }}/skins/crealio/img/Admin_Msg_Contact.png" alt="Donnees" />
	{% if is_crealio %}
	<p class="texteBox">
		<a href="crealio/page/">Votre message d'Introduction</a><br/>
		<a href="crealio/projets/">Votre liste des projets</a>
	</p>
	
	<div class="activePages">
		<p>
		  <a href="changePageStatus/crealio/">
		    {% if is_online_crealio %}
		    <span class="red">Désactiver cette page</span>
		    {% else %}
		    <span class="green">Activer cette page</span>
		    {% endif %}
		  </a>
		</p>
	</div>

	{% else %}
	<p class="texteBox">
		<a href="crealio/page/">Créez votre Créalio</a>
	</p>			
	{% endif %}
</div>





<div class="adminConseil" style="clear: both">

	<div class="adminConseilBox">
		<p>
			Des phrases <strong>courtes</strong> permettent une <strong>compréhension rapide</strong> de l'information, privilégiez donc ce type de rédaction.
		</p>
	</div>
	<div class="adminConseilBox">
		<p>
			Les Entreprises aiment les personnes <strong>actives</strong>, mettez en avant toute expérience de <strong>bénévolat</strong> afin de montrer vos qualités. 
		</p>
	</div>
	<div class="adminConseilBox">
		<p>
			<strong>Une fonctionnalité vous manque ?</strong> N'hésitez pas à nous le faire savoir et peut être la développerons nous pour vous.
		</p>
	</div>
	
	<div style="clear: both;"></div>
	
</div>

<h2>Paramètre de votre compte</h2>

<div class="adminBox">
	<h3>Paramètres de votre compte</h3>
	
	<img src="{{ MEDIA_URL }}/skins/crealio/img/Admin_Settings.png" alt="Donnees" />
	
	<p class="texteBox">
		<a href="password/">Votre Mot de passe</a><br/>
		<a href="email/">Votre adresse de contact</a><br/>
		<a href="apparence/">Apparence</a><br/>
		<a href="delete/">Supprimer votre Compte</a>
	</p>


</div>
<div class="adminBox">
	<h3>Statistiques</h3>
	
	<img src="{{ MEDIA_URL }}/skins/crealio/img/Admin_Stats.png" alt="Donnees" />
	
	<p class="texteBox">
		<a href="stats/">Vos statistiques</a>
	</p>
	

</div>


<div class="adminBoxSuggestion">
	<h3>Une suggestion d'amélioration ?</h3>
	<p>Si vous souhaitez apporter votre contribution au développement de Créalio, n'hésitez pas à nous suggérer comment améliorer ce service.</p>
	<form action="suggestion/#suggestion" method="post">
	  {% if status %}
	  {% ifequal status "True" %}
	    <span class="green">Suggestion envoyée !</span>
	  {% else %}
	    {% ifequal status "False"  %}
	    <span class="red">Erreur lors de l'envoi de la suggestion</span>
	    {% endifequal %}
	  {% endifequal %}
	  {% endif %}
		<table id="suggestion">
			<tr>
				<td><textarea name="message"></textarea></td>
				<td><input type="submit" value="Envoyer"/></td>
			</tr>
		</table>
	</form>
	
</div>

<div style="clear: both;"></div>

<div class="boutonAidePopUp">
	<p><a href="#header" onclick="openPopUpAideId('aidePopUp');"><em>Aide ?</em></a> | <a href="/accounts/logout/">Deconnexion</a> </p>
</div>


{% endblock %}
