<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />

		<title>{{titre}}</title>
	</head>

	<body>
		<h1>{{titre}}</h1>
		
		<div style="margin-left:120px;">
			<p>Bonjour <strong>{{first_name}}</strong>,</p>
			
			<p>Vous venez de changer votre adresse email.<p>
			
			<p>Pour la valider et réactiver votre compte, il faut vous rendre à cette adresse :<br />
			<a href="{{url}}">{{url}}</a></p>
			
			<p>A bientôt</p>
			
			<p><em>L'équipe de {{site}}</em></p>
		</div>
	</body>
</html>
