{% extends "index.html" %}
{% block title %}Sign-in{% endblock %}
{% block content %}
<div id="mainFull">
    <div class="boxInscription">
        <div class="boxLeft">
            <p>bla bla bla</p>
        </div>
        <div class="boxRight">
            <p>Créez votre Créalio en 3 étapes</p>
            <ul>
                <li>Créez un compte.</li>
                <li>Compléter vos données.</li>
                <li>Ajouter vos Données</li>
            </ul>
            <p>créez votre Créalio -></p>
            
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% endblock %}
