{% load age %}
{% load thumbnail %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
	<title>{% block title %}{{ portfolio_name }} - {{SITE_NAME}}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="robots" content="index,follow" />
	<meta name="revisit-after" content="2 days" />   
	<link rel="copyright" title="Conditions de réutilisation" href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/">
	<link rel="start" title="Accueil" href="/" />
	<link rel="alternate" type="application/rss+xml" title="Derniers projets de {{SITE_NAME}}" href="/crealio/feeds/rss/" />
	<link rel="alternate" type="application/atom+xml" title="Derniers projets de {{SITE_NAME}}" href="/crealio/feeds/atom/" />

	<link rel="stylesheet" media="screen" type="text/css" href="{{ MEDIA_URL }}skins/crealio/styles.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{ MEDIA_URL }}skins/crealio/contents.css" />
	<link href="{{ MEDIA_URL }}skins/crealio/printer.css" rel="stylesheet" type="text/css" media="print" />


	{% block css %}
	{% endblock css %}


	{% block jscript %}
	{% endblock %}

</head>
<body>

	<!-- wrap starts here -->


	<div id="header">	
		<div id="header_body">
			<div id="box">
				<p><a href="{{ COMMERCIAL_URL }}"><span class="liensCrealio"><strong><em>Créer votre CV sur Créalio.fr</em></strong></span></a><p>

				</div>
				
					
				<h1 id="logo">{{ infos.user.first_name }} <span class="orange" style="text-transform: uppercase;">{{ infos.user.last_name }}</span></h1>
				<h2 id="slogan">{{ infos.metier }}</h2>
				
			</div>
		</div>		


		<div id="menu">
			<div id="menu_body">
				<ul>
					{% for onglet in onglets %}
					<li {% ifequal page.title onglet.title %} id="current"{% endifequal %}>
						<a href="/{{ onglet.slug }}/" title="{{ onglet.title }}">{{onglet.title}}</a>
					</li>
					{% endfor %}

					{% if user.admin_site %}
					<li style="float: right;">
						<a href="/administration/" title="Administration" {% ifequal path_url 'administration' %}id="selected"{% endifequal %}>Administration</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div style="clear: both"></div>
		</div>
		
		<div id="wrap"> 




			<!-- content-wrap starts here -->	

			<div id="content-wrap">  

				<div id="sidebar">

					<p style="text-align: center;"><a href="" >
						{% if infos.identite %}
						<img src="{% thumbnail infos.identite 150x96 %}" alt="{{portfolio_name}}" title="{{portfolio_name}}" id="photo_cv" onclick="showPopUpProject('apercuImg','Photo d\'identité','{% thumbnail infos.identite 900x600 %}','','','',''); return false;" />
						{% else %}
						<img src="{{ MEDIA_URL }}/skins/crealio/img/Admin_Photo_User.png" alt="{{portfolio_name}}" title="{{portfolio_name}}" id="photo_cv" onclick="showPopUpProject('apercuImg','Photo d\'identité','{{ MEDIA_URL }}/skins/crealio/img/Admin_Photo_User.png','','',''); return false;" />
						{% endif %}
					</a></p>
					<h2 class="titre_cv">{{portfolio_name}}</h2>
					<p>{{infos.address1}}<br/>{% if infos.address2 %}{{ infos.address2 }}<br />{% endif %}
						{{ infos.zipcode }} {{ infos.city }}</p>
						<p class="hidden">E-mail : {{user_infos.email}}</p>
						<p>{% if infos.phone %}Tél : {{infos.phone}}{% endif %}</p>
						<p>{% if infos.mobile %}Mobile : {{infos.mobile}}{% endif %}</p>
						<p class="hidden">{% if infos.dob %}Âge : {{infos.dob|age}}{% endif %}</p>
						<p>{% if infos.d_licence %}Permis : {{infos.d_licence}}{% endif %}</p>


						<!-- IMPORTANT, FENETRE POP UP APERCU A CONSERVER ! -->
						<!-- Ajout du script de l'aperçu -->
						<script type="text/javascript" src="{{MEDIA_URL}}jscripts/apercu/popUp.js"></script>


						<div id="popUpProjet" class="">
							<div class="boutonClosePopUp"><a href="" onclick='closePopUpProject(); return false;'></a></div>

							<div id="contenuTitrePopUp"></div>
							<div id="contenuCorpPopUp"></div>
						</div>


						<h3 class="update">Details</h3>

						<p class="update">Mis à jour le {{ infos.user.last_login|date:"d/m/Y" }}</p>
						<p class="update"><a href="javascript:print();"><img src="{{ MEDIA_URL }}skins/crealio/printer.png" title="Imprimer la page" alt="Imprimer la page" /> Imprimer la page</a></p>


						<!--
							<h3>Téléchargement</h3>

							<p>>> Version PDF <<</p>
						-->					


					</div>		


					<div id="mainLarge"> 



						{% block content %}

						<!-- CONTENT -->

						{% endblock %}

					</div> 


				</div>


				<!-- content-wrap ends here -->	

				<!--
				<div id="preFooter" style="clear: both;">
					
					<p>| <a href="#header" onclick="showPopUpMail('recommander')">Recommander ce site à un ami</a> | 
						 <a href="#header" onclick="showPopUpMail('abus')">Signaler un Abus</a> |</p>

						<script type="text/javascript" src="{{MEDIA_URL}}/jscripts/mail/popUpMail.js"></script>
						<div id="popUpMail"></div>
					
				</div>
				-->
			</div>



			<!-- wrap ends here -->

		</div>		



		<!-- footer starts here -->		

		<div id="footer">
			<div id="footer_body">
				<div id="footer_1">
					<p>&copy; <strong><a href="{{ COMMERCIAL_URL }}">Crealio.fr</a></strong> - <a href="http://creativecommons.org/licenses/by/3.0/deed.fr">Creative Commons</a><br/><span class="antiLink"><a href="" onclick="showPopUpProject(
						'conditions',
						'Conditions d\'utilisation',
						'',
						'condBox',
						'',
						'',
						'',
						''); 
						return false;">Conditions d'utilisation</a> | 
						<a href="" onclick="showPopUpProject(
						'confidentialité',
						'Politique de confidentialité',
						'',
						'confBox',
						'',
						'',
						'',
						''); 
						return false;">Politique de confidentialité</a></span>
					</p>
				</div>
				<div id="footer_2">

				</div>
				<div id="footer_3">
					<p>
						<a href="/accueil/">Accueil</a> | 
						{% if user.is_authenticated %}
						{% if user.admin_site %}
						<a href="/administration/">Administration</a>
						{% else %}
						<a href="/administration/">Votre compte</a>
						{% endif %}
						{% else %}
						<a href="/administration/">Se connecter</a>
						{% endif %}

						| <a href="/contact/">Contact</a><br/>
						<span class="antiLink">Design par	: <a href="http://www.styleshout.com/">styleshout</a> | <a href="http://french-151510264361.spampoison.com">Combattons le spams</a></span>
					</p>

				</div>
			</div>

			<!-- Conditions d'utilisation -->	


		</div>

		<div id="condBox">
			{{ cond.content }}
		</div>
		<div id="confBox">
			{{ conf.content }}
		</div>
		<!-- IMPORTANT, FENETRE POP UP APERCU A CONSERVER ! -->
		<!-- Ajout du script de l'aperçu -->
		<script type="text/javascript" src="{{MEDIA_URL}}/jscripts/apercu/popUp.js"></script>


		<div id="popUpProjet" class="">
			<div class="boutonClosePopUp"><a href="" onclick='closePopUpProject(); return false;'></a></div>

			<div id="contenuTitrePopUp"></div>
			<div id="contenuCorpPopUp"></div>
		</div>

		<!-- footer ends here -->	
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-6590959-1");
			pageTracker._trackPageview();
			} catch(err) {}</script>
		</body>
		</html>
