{% extends "base_admin.html" %}
{% load thumbnail %}

{% block title %}{{page.title}} - {{ portfolio_name }}  - {{SITE_NAME}}{% endblock %}
{% block css %}
<link rel="stylesheet" media="screen" type="text/css" href="{{ MEDIA_URL }}/skins/crealio/cv/cv.css" />
{% endblock css %}
{% block jscript %}
<script type="text/javascript">
   function conf_suppr()
    {
        return confirm("Êtes-vous sûr de vouloir supprimer ce projet de votre portfolio ?");
    }
</script>
{% endblock %}
{% block content %}

<h2>Crealio de {{ portfolio_name }}</h2>

{% if book_entries %}
<table>
  {% for entry in book_entries %}
    <tr>
      <td>
	<a href="{{ entry.pk }}/">
	{% if entry.image %} 
	<img src="{% thumbnail entry.image 96x96 %}" alt="{{ entry.title }}" title="{{ entry.title }}" height="96" width="96" />
	{% else %}
	<img src="/medias/aucune.png" alt="{{ entry.title }}" title="{{ entry.title }}" height="96" width="96" />
	{% endif %}
	</a>
      </td>
      <td>
	{{entry.title}}
      </td>
      <td>
	<form action="." method="post">
	  <input type="hidden" name="entry_pk" value="{{entry.pk}}" />
	  <input type="button" name="modif" value="Modifier" onclick="document.location.href='{{entry.pk}}/'" /> - 
	  <input type="submit" name="suppr" value="Supprimer" onclick="return conf_suppr();" />
	</form>
      </td>
    </tr>
  {% endfor %}
</table>
{% else %}
<p>Aucun projet pour le moment</p>
{% endif %}
<form action="new/" method="get">
  <input type="submit" value="Ajouter un projet" />
</form>

<p style="text-align: center;width: 100%"><input type="button" value="Retour" onclick="history.go(-1)"/></p>

{% endblock %}
