<p>Bonjour et bienvenue sur le portfolio de {{ user.first_name }} {{ user.last_name }}.</p>

<p>Ce Portfolio vient juste d'ouvrir ses portes et {{ user.first_name }} {{ user.last_name }} n'a pas encore eu le loisir de modifier son message de bienvenue.</p>
			
<p>Vous pouvez donc considérer ce portfolio comme étant en construction et revenir vérifier à nouveau dans les prochains jours.</p>

<p>Vous pouvez utiliser <a href="/contact/">le formulaire de contact</a> pour obtenir des renseignements supplémentaires.</p>

<p>A bientôt</p>

<p><em>L'équipe de {{ site }}</em></p>
