{% extends "base_admin.html" %}

{% block title %}{{page.title}} - Administration - {{ portfolio_name }}  - {{SITE_NAME}}{% endblock %}

{% block jscript %}
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_conf.js"></script>

{% endblock %}

{% block content %}
<h2>{% if page %}Modification du texte de la page `{{ page.title }}`{% else %} Nouvelle page {% endif %}</h2>
<form action="." method="POST">
{{ form.as_p }}
<p style="text-align: center;width: 100%">
  <input type="submit" value="Envoyer" />
  <input type="button" value="Annuler" onclick="history.go(-1);"/>
</p>
</form>
{% endblock %}
