{% extends "base_admin.html" %}

{% block title %}Ajout d'un projet - Portfolio - Administration - {{ portfolio_name }}  - {{SITE_NAME}}{% endblock %}
{% block css %}
<link  rel="stylesheet"  href="{{ ADMIN_MEDIA }}css/widgets.css" type="text/css" /> 
<link  rel="stylesheet"  href="{{ MEDIA_URL }}skins/alex/calendar.css" type="text/css" /> 
{% endblock %}
{% block jscript %}
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{{ ADMIN_MEDIA }}js/core.js"></script>
<script type="text/javascript" src="{{ ADMIN_MEDIA }}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ ADMIN_MEDIA }}js/calendar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jscripts/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_conf.js"></script>
{% endblock %}

{% block content %}
<h2>Modification des informations</h2>
<form action="." method="POST">
{{ form }}
<p style="text-align: center;width: 100%">
  <input type="submit" value="Envoyer" />
  <input type="button" value="Annuler" onclick="history.go(-1);"/>
</p>
</form>
{% endblock %}
