/*********************** 
    Title Formating 
***********************/

#content h2 {
    font-size: 1.3em;
    font-weight: normal;
    color: #F2760D;
    line-height: 1em;
    padding: 0 0 6px;	
    margin: 2em 0 1em 0;
/*    border-bottom: 1px solid #ededed;*/
    letter-spacing: 0.2em;
}

#content h3 {
    font-size: 1.2em;
    margin: 2em 0 1em 0;
}


/************************** 
    Paragraphe Formating 
**************************/
img {
    border: 0;
}
#content p {
}

#cv p {
    padding: 0;
}

/*********************** 
    Link Formating 
***********************/

#content a {
    color: #F2760D;
    
}

#content a img {
    border: 0; 
}


/*********************** 
    General Formating 
***********************/

#content ul {
    list-style: square;
    padding-left: 3em;
}

#mainLarge li {
	color:#666;
}

#content .float-left {
    float: left;
}

#content .float-right {
    float: right;
}

#content .italic {
    font-style: italic;
}


/*************************** 
    Home Page Formating 
***************************/

#content .home_button {
    padding-left: 2.5em;
}


/*************************** 
    Contact Page Formating 
***************************/

#content .hide-spam {
    display: none;
}

#content #contact_form {
    margin-left: 230px;
}

#content #contact_message {
    width: 200px;
}

#content label {
    display: block;
}

#content input.textfield, #content textarea{
    background:#fff;
    padding: 0.3em;
    border-top:1px solid #7c7c7c;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-bottom:1px solid #ddd;
}

#content input.submit {
    background:#f9f9f9;
    padding: 0.3em;
    border: 1px solid #f0f0f0;
}

#content input.textfield:hover, #content textarea:hover { 
    background: #FFFFF4; color: #000; 
}

#content .required {
    color: #c83939;
}

#content #img_captcha {
    padding-right: 1em;
}

#content .error {
    margin: 4em 0.5em 0 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #c83939;
    color: #c83939;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.2em;
    background: #ffdfdf;;
}

#content #success p {
    background: #dbffde url(./img/symbol_ok.jpg) no-repeat 2em 50%;
    border: 1px solid #00ab10;
    color: #1f9d2b;
    text-align: center;
    width: 60%;
    margin: 2em auto;
    padding: 1em;
    font-style: italic;
    font-size: 0.96em;
    line-height: 1em;
}

#content #success p a {
    color: #1f9d2b;
    font-weight: bold;
    padding-left: 1em;
}

#content #fail {
    text-align: center;
    width: 70%;
    margin: 2em auto;
    padding: 0.2em;
    font-style: italic;
    font-size: 0.96em;
    line-height: 1em;
    
}

#content #fail a {
    font-weight: bold;
    color: #c83939;
    padding-left: 1em;
}


/*************************** 
    Resume Page Formating 
***************************/

h2.titre_cv {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

#photo_cv {
    padding: 3px;
    margin: 0.5em 1em;
    border: 1px solid #ddd;
    height: 96px;
}

#photo_cv:hover
{
    padding: 3px;
    margin: 0.5em 1em;
    border: 1px solid #ddd;
}

#content dl#cv {
    margin-bottom: 1em;
}

#content #cv dt {
    font-size: 1.1em;
    font-weight: bold;
    padding: 1.2em 0 0.5em 0;
    font-variant: small-caps;
}

#content #cv dd {
    padding: 0 0 0 1em;
}

.cvTitre
{
    width: 250px;
    padding-left: 10px; 
    vertical-align: top;   
}

#content .cv_item {
    width: 300px;
    display: block;
    float: left;
}

#content .formation {
    display: block;
    width: 470px;
    float: left;
}

#content .cv_year {
    letter-spacing: 1px;
}

#content dl#cv a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #d0d0d0;
}


/******************************* 
    Portfolio Page Formating 
*******************************/

#content #portfolioText {
    float: right;
    width: 220px;
}



#content #portfolioText .shadowTopLeft {
    background: url(./img/left-corner.jpg) no-repeat top left;
    padding: 2.2em 0 0 3em;
    margin-bottom: 2em;
}


#content #portfolioProject {
    width: 450px;
    text-align: center;
}

#ProjetTexte p, #ProjetTexte h4
{
    margin: 0;
}

#content .project {
    float: left;
    margin: 0.5em;
}

#content .project p {
    margin: 0;
    padding: 0;
}

#content #projectInfo dt {
    padding: 0.2em 0;
    font-weight: bold;
}

#content #wantHelp {
    clear: both;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    color: #666;
}

/*****************************
    Lightbox Formating
*****************************/

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ display: none;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

/**********************************
     User Admin menu 
**********************************/
#admin_pub_menu img
{
	float: right; width: 400px;
}

#admin_pub_menu
{
   float: right; 
}

#sections_admin
{
	border: black solid 1px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
}

#admin_colonne_droite
{
	width: 45%; float: right; margin: 10px; margin-top: 30px;
}

#admin_bouton_logout
{
	margin: auto; width: 100px; clear: both;	
}

table
{
    width: 540px;
}

th{
    width: 100%;
}

/* PAge d'accueil */
.texteGrosBouton
{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 5px;
	color: orange;
}

.sousTexteGrosBouton
{
	font-size: 1.1em;
	margin-left:60px;
	color: #666;
}

/* Page de présentation */
#presentationColonneDroite
{
    width: 31%;
    border: black solid 0px;
    float: right;
    border-left: #AAA solid 1px;
    padding-bottom: 40px;
}

#presentationColonneDroite a
{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#presentationColonneGauche
{
    width: 65%;
    border: black solid 0px;
    float: left;
    padding: 5px;
}

.presentationQuestion
{
    font-size: 0.8em;
    padding: 5px;  
}

.presentationQuestion:hover
{
    background: #CCC;  
}

.errorlist {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 100%;
}

.errorlist {
    color: red;
}

/*****************************
          Annuaire
*****************************/

#annuaire {
	margin: 10px; padding: 0;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA;
	width: 550px;
}

#annuaire img {
    height: 96px;
    border: 0;
}

#annuaire a{
    text-decoration: none;
}

#annuaire p {
    padding:0;
    width: 100%;
    height: 130px;
    text-align: center;
}

#annuaire .project {
    margin:0;
    padding:0;
    width: 130px;
    float: left;
}

p.hidden{
    display: none;
}

.update a {
    text-decoration: none;
}