/* SKIN DE CREALIO.FR */

/* top elements */
* {
	margin: 0px;
	padding: 0px;
} 

/******************************* 
	Structure des pages 
********************************/
body
{
	margin: 0; 
	padding: 0;
	font: 71%/1.5em  Verdana, 'Trebuchet MS', Arial, Sans-serif;
	color: #666666;	
}
/* header */
#header
{
	width: 100%;
	height: 84px;
	background: #EEE;	
	background: url(headerbg-orange.gif) repeat-x 0 0;
	
}

#header_body
{
	width: 850px;
	margin: auto;
	padding-left: 50px;
}

#header_body h1#logo
{
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	margin: 0px; 
	padding: 0px;
	text-transform: capitalize;
	color: #CCC;
	letter-spacing: -2px;
}

#header_body h2#slogan
{
	margin: 0px;
	padding: 0px;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	margin-left: 40px;
}

#header_body #box
{
	float: right;
	margin-top: 2px;
	font-size: 0.9em;
	text-align: right;
}

#header_body #box p
{
	margin: 0px;
	margin-bottom: 10px;
}
#header_body #box a
{
	margin: 0px;
	color: #CCC;
	text-decoration: none;
}


/* menu */
#menu {
	width: 100%;
	clear: both;
	margin: 0px; 
	padding: 0px;
}

#menu_body
{
	width: 850px;
	margin: auto;
}

#menu ul {	
	position: relative; 
	bottom: 4px;
	margin: 0px; 
	padding: 0px;	
	float: left;
	font: bold 1.4em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	width: 850px;
	border: 1px solid #808080;
	border-width: 0 0 4px 0;	
	list-style: none;
}
#menu ul li{
	display: inline;	
}
#menu ul li a {	
	position: relative; 
	bottom: -4px;
	float: left;
	color: #808080;
	padding: 3px 15px 2px 15px;
	text-decoration: none;
	border-bottom: 4px solid #808080;
}
#menu ul li a:hover{
	color: black;
	border-bottom: 4px solid #FFA600;
}
#menu ul li#current a{
	color: #333;
	background-color: #F3F3F3; 
	border-bottom: 4px solid #FFA600;
}

/******************************* 
	Mise en page texte général
********************************/

/* Liens */
a {
	background: inherit;
	color: #EC981F; 
}
a:hover {
	background: inherit;
	color: #806B4D;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: uppercase;
	color: #555;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; text-transform: none;}

p, h1, h2, h3 {
	margin: 10px 15px;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;	
	color: #EC981F;	
}
ul span, ol span {
	color: #666666;
}

/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
	margin: 5px 0px 5px 15px;  
}
img.float-left {
	margin: 5px 15px 5px 0px;
}
a img {  
	border: 0px solid #EC981F;
}

 /* Balide diverses */
code {
	margin: 5px 0;
	padding: 10px;
	text-align: left;
	display: block;
	overflow: auto;  
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	/* white-space: pre; */
	background: #F8F8F8;
	border: 1px solid #f2f2f2;  
	border-left: 3px solid #EC981F;
}
acronym {
	cursor: help;
	border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
	padding: 0 0 0 32px;  	
	background: #F8F8F8 url(quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 3px solid #EC981F;  
	font-weight: bold; 
}

/*************************************************************************************************************** 
	Fin Zone trier 
****************************************************************************************************************/

#wrap {
	margin: 0 auto;
	width: 850px;  	
	text-align: left;		
	background: #FFF;	
}
#content-wrap {
	clear:both;
	margin: 0; padding:0;
	margin-top: 10px;
	width: 850px;	
}





#main h1, #rightbar h1 {
	padding: 10px 0 5px 5px;
	margin: 0 0 0 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #f2f2f2; 	
}	
#sidebar h1 {
	padding: 10px 0px 5px 30px;
	background: url(square_arrow.gif) no-repeat 2px 12px;
	margin: 0;
	text-transform: uppercase;	
}


/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
	margin: 5px 0px 5px 15px;  
}
img.float-left {
	margin: 5px 15px 5px 0px;
}
a img {  
	border: 0px solid #EC981F;
}

code {
	margin: 5px 0;
	padding: 10px;
	text-align: left;
	display: block;
	overflow: auto;  
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	/* white-space: pre; */
	background: #F8F8F8;
	border: 1px solid #f2f2f2;  
	border-left: 3px solid #EC981F;
}
acronym {
	cursor: help;
	border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
	padding: 0 0 0 32px;  	
	background: #F8F8F8 url(quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 3px solid #EC981F;  
	font-weight: bold; 
}

/* form elements */
form {
	margin:10px; padding: 0;
	border: 1px solid #f2f2f2; 
	background-color: #F8F8F8; 
}

label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 4px;
	border:1px solid #eee;
	font: normal 1em/1.5em Verdana, sans-serif;
	color:#777;
}
textarea {
	width:350px;
	padding:4px;
	font: normal 1em/1.5em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	border: 1px solid #CCC;
	background: #FFF; 
	padding: 2px 3px; 
	color: #333;
}

/* search form */
form.searchform {
	background: transparent;
	border: none;
	margin: 0; padding: 0;	
}
form.searchform input.textbox { 
	margin: 0; 
	width: 120px;
	border: 1px solid #CCC; 
	background: #F8F8F8;
	color: #333; 
	vertical-align: top;
}
form.searchform input.button {
	vertical-align: top;
}



/* main column */
#main {
	float: left;
	margin-left: 15px;
	padding: 0;
	width: 54%;	
	border-left: 1px solid #f2f2f2;
	margin-bottom: 30px;
}

#mainLarge {
	float: left;
	margin-left: 15px;
	padding: 0;
	width: 75%;	
	border-left: 1px solid #f2f2f2;
	margin-bottom: 30px;
}

#mainLargeLeft {
	float: left;
	margin-left: 15px;
	padding: 0;
	width: 75%;	
	margin-bottom: 30px;
}

#mainFull {
	margin: 15px;
	padding: 1px;
	margin-bottom: 30px;
}

.ligneAccueil
{
	margin-top: 5px;
	margin-bottom: 15px;   
}

.caseSimpleAccueil
{
	width: 31%;
	height: 120px;
	float: left;
	margin: 5px;
	overflow: hidden;
}

.caseSimpleAccueilInscription
{
	width: 29%;
	float: left;
	margin: 5px;
	margin-top: 20px;
	padding: 10px;
	overflow: hidden;
	border-left: orange solid 5px;
	background: #EEE;
}

.caseSimpleAccueilInscription:hover
{
	background: #EEC;
}

.caseSimpleAccueilInscription a
{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}


.post-footer {
	background-color: #F8F8F8;
	padding: 5px; margin-top: 20px;
	font-size: 95%;
}
.post-footer .date {
	background: url(clock.gif) no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(comment.gif) no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(page.gif) no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* sideabar */
#sidebar {
	float: left;
	width: 21%;
	margin: 0;	padding: 0; 
	display: inline;	
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 0 0 8px 0;	
	padding-right: 0;		
	text-decoration: none;
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #EFF0F1;
	background: url(arrow.gif) no-repeat 2px 5px;
	padding: 2px 5px 2px 20px;	
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu a {
	font-weight: bold;
	background-image: none;
	text-decoration: none;	
}

/* rightbar */
#rightbar {
	float: right;
	width: 21%;
	padding: 0;	margin: 0;
	border-left: 1px solid #f2f2f2;
}

#leftbar{
	float: left;
	width: 21%;
	padding: 0;	margin: 0;
	border-right: 1px solid #f2f2f2;
	
}

/* footer */
#footer {
	clear: both;
	background: #FFF url(footerbg.gif) repeat-x left top;
	border-top: 1px solid #F2F2F2;
	text-align: center;	
	height: 50px;
	margin-bottom: 30px;
}
#footer a {
	text-decoration: none;
	font-weight: bold;
}

#footer_body
{
	width: 850px;
	margin: auto;
}

#footer #footer_1
{
	float: left;
	text-align: left;
}

#footer #footer_2
{
	float: left;
}

#footer #footer_3
{
	float: right;
	text-align: right;
}

.antiLink a
{
	color: #666;
}
.antiLink
{
	font-size: 0.8em;	
}


/* Alignment classes */
.float-left   { float: left;}
.float-right  { float: right; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center;	}
.align-justify { text-align: justify; }
/* display classes */
.clear  { clear: both; }
.block  { display: block; }
.hide   { display: none; }	
.orange { color: #FFA600; }
.green { color: green; }
.red { color: red; }

/* Calque qui s'affiche en plein Ã©cran pour montrer unu Image. */

/* Cadre gris foncé qui compose tout le popUp */
#popUpProjet
{
	display: none;
	background: url("img/fond_noir_90.png");
	padding-top: 15px;
	overflow: auto;
	position: fixed;
	top: 0px;
	left: 0px; 
	right: 0px;
	bottom: 0px;
	font-size: 1.2em;
}

/* classe du cadre popUpProjet s'il s'agit d'un aperçu d'image. */
.corpPopUpImg
{	
	margin: auto;

}

/* Les images du popUp */
.corpPopUpImg img
{
	max-width: 700px;
}

/* Description du titre*/
#contenuTitrePopUp
{
	color: white; 
	text-align: center;
}

/* Contenu sous le titre de la popUp */
#contenuCorpPopUp
{
	overflow: auto; /*Important pour conserver la mise en page lorsqu'on modifie la taille de fenetre*/
	text-align: center;
	clear: both; 
	color: #DDD;
}

/* PopUp d'affiche pour un projet */
#bodyPopUpProject
{
	width: 900px;
	margin: auto;
}

.corpPopUpProjet
{
	margin: auto;
}

.popUpProjectImage
{
	float: right;
	width: 600px;
	height: 80%;
}

.popUpProjectImage img
{
	max-height: 600px;
}


.popUpProjectDetail
{
	float: left;
	width: 300px;
	text-align: left;
}


/* Titre de la colonne du PopUp Projet */
.titrePopUpProject
{
	color: white;
	font-size: 1.5em;
	text-align: center;
}

/* Image du popUp Projet */
.imgPopUp
{
	max-width: 100%;
}

.popUpProjectDescription
{

}

/* Gestion des popUp de conditions et confidentialité */
#condBox
{
	display: none;
}

#confBox
{
	display: none;
}

.corpPopUpCondConf
{
	margin: auto;
}

#conditionConfidentialite
{
	width: 90%;
	margin: auto;
	overflow: auto;
	text-align: left;
	border-top: white solid 1px;
	color: white;
}

/* PopUp d'aide pour les dummy */
.boutonAidePopUp
{
	float: right;   
}

#aidePopUp
{
	display: none;
	background: url("img/fond_noir_80.png");
	color: white;
	padding: 15px;
	position: absolute;
	width: 620px;
}

#aidePopUp h3
{
	color: white;
	font-weight: bold;
}

.boutonClosePopUp
{
	width: 13px;
	height: 13px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url("img/closePopUp.png") no-repeat;
}

.boutonClosePopUp a
{
	display: block;
	width: 100%;
	height: 100%;   
}


.boutonClosePopUp:hover
{
	background: url("img/closePopUpHover.png") no-repeat;
}

/* Meun Administration */
legend
{
	margin-left: 20px; 
	padding: 5px;
	font-weight: bold;  
}

.icon_admin {
	margin: auto;
	width: 100px;
	height: 100px;
	float: left;
}

.icon_admin img {
	display:block;
	width: 60px;
	height: 60px;
	margin: auto;
}

.icon_admin p {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

/* Page Crealio, affichage des icones de projet */
#portfolioText
{
	float: right;
	width: 250px;
	border-left: black solid 1px;
	padding: 5px;
}

#portfolioProject
{
	margin: 10px; 
	padding: 0px;
	border: 1px solid #CCC; 
	background-color: #F8F8F8;
}

.adminRubrique
{
	width: 630px;
	margin-bottom: 4px;
	border: 1px solid #CCC; 
	background-color: #F8F8F8;
	clear: both;
	text-align: center;
}

.adminRubriqueVertical
{
	width: 100%;
	height: 153px;
	border: 1px solid #CCC; 
	background-color: #F8F8F8;	
	float: right;
	margin-right: 4px;
}

.adminBoxBig
{
	width: 430px;
	height: 140px;
	float: left;
	border: 1px solid #CCC; 
	background-color: #F8F8F8;
	margin-right: 4px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.adminBoxBig img
{
	float: left;
	border: #CCC solid 1px;
	padding: 3px;
	margin-left: 10px;
}

.adminBoxBig .texteBox
{
	float: left;
}

.adminPubBox
{
	width: 180px;
	height: 150px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

.adminBox
{
	width: 49%;
	height: 140px;
	float: left;
	border: 1px solid #CCC; 
	background-color: #F8F8F8;
	margin-right: 4px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.adminBox img
{
	float: left;
	width: 28%;
	margin-left: 10px;
}

.adminBox .texteBox
{
	float: left;
	width: 55%;
}

.adminBox .activePages
{
	clear: both;
	margin: 0px;
	text-align: right;
}

.adminBox .activePages a
{
	text-decoration: none;
}



.adminConseil
{
	width: 100%;
	clear: both;
	padding: 5px;
}

.adminConseilBox
{
	float: left;
	width: 30%;
	margin-left: 5px;
}

.adminConseilBox p
{
	text-align: left;
}

.adminBoxSuggestion
{
	width: 100%;
	margin-top: 20px;
	float: left;
	border: #EC981F dashed 1px;
	background: #FFE795;
}

.adminBoxSuggestion form
{
	background: none;
	border: none;
}

.project
{
	width: 120px;
	float: left;  
	text-align: center;
	overflow: hidden;
}

.boutonPopUp
{
	width: 334px;
	margin: auto;
}

.boutonPopUp p
{
	text-align: left;`
	margin: 0px;
	padding: 0px;
}

.boutonPopUp a
{
	display: block;
	width: 100%;
	height: 100%;
	color: orange;
	text-decoration: none;
}

.boutonPopUp img
{

}

.boutonLink
{
	width: 120px;
	border: #444 solid 1px;
	float: left;
	background: #222 url("boutonLIENS.png") no-repeat top left;
}

.boutonDl
{
	width: 210px;
	border: #444 solid 1px;
	float: left;
	background: #222 url("boutonDL.png") no-repeat top right;
}

blockquote
{
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 40px;
	margin-right: 40px;
}



/* Plan du site */
.planGauche
{
	width: 20%;
	float: left;
}

.planDroite
{
	width: 76%;
	float: right;
}

.listeAnnuairePlan
{
	float: left;
	width: 45%;
	overflow: hidden;
}

.listeAnnuairePlan p 
{
	margin: 0px;
}

/* Annuaire */
.ligneRecherche
{
	width: 30%;
	float: right;
	margin-left: 10px;
	margin-top: 20px;
}

#listeRecherche
{
	clear: both;
	border: #CCC solid 1px;
	padding-bottom: 15px;
	background: #F8F8F8;
	margin-top: 20px;
}

.caseCvAnnuaire
{
	width: 45%;
	height: 100px;
	float: left;
	border: dashed #f2f2f2 1px;
	margin-top: 10px;
	margin-left: 10px;
}

.caseCvAnnuaire table
{
	width: 100%;
	height: 100%;
}

.caseCvAnnuaire:hover
{
	background: #EEE;	
}

.annuaireImage
{
	vertical-align: middle;
	width: 100px;
}

.annuaireDetails
{
	text-align: left;
	vertical-align: middle;
}

.caseCvAnnuaire a
{
	display: block;
	width: 100%;
	height: 100%;
	color: #666666;
}

p .titre
{
	color: orange;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0px;
	
}

.annuaireDetail a {
    text-decoration: none;
}

.caseSimpleRechercheInscription
{
	width: 90%;
	padding: 10px;
	margin-bottom: 30px;
	overflow: hidden;
	border-left: orange solid 5px;
	background: #EEE;
}

.caseSimpleRechercher h3
{
	margin-top: 2px;
}

.caseSimpleRechercheInscription:hover
{
	background: #EEC;
}

.annuaireZoneTexte
{
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	clear: both;	
}

.annuaireForm
{
	border: #CCC solid 1px;
	padding-bottom: 15px;
	background: #F8F8F8;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Google Search */
#cse-search-box {
	width: 350px;
	margin: auto; 
	padding: 0;
	border: 0;
	background: none;
}

#cse-search-box input {
	padding: 4px;
	border:1px solid #CCC;
	font: normal 1em/1.5em Verdana, sans-serif;
	color:#777;
}

.boxPartenairePub
{
	padding: 4px;
	border:1px solid #CCC;
	background: #F8F8F8;
	margin-top: 20px;
}

.boxPartenairePub h3
{
	margin-top: 5px;
}

.boxPartenairePubBox
{
	margin-left: 15px;
	margin-bottom: 10px;
	width: 730px;
	height: 90;
	margin: auto;
	margin-bottom: 30px;
}

.boxInscription
{
	padding: 4px;
	border:1px solid #CCC;
	background: #F8F8F8;
}

#listeFonctionnalite
{
	width: 510px;
	float: left;
}

#listeFonctionnalite .fonctionnalite
{
	padding: 4px;
	border:1px solid #CCC;
	background: #F8F8F8;
	margin: 5px;
}

.fonctionnalite
{
	clear: both;
}

.fonctionnalite .left
{
	position: relative;
	top: -10px;
	height: 70px;
	float: left;
	margin-right: 10px;
}

.fonctionnalite .right
{
	position: relative;
	top: -10px;
	height: 70px;
	float: right;
	margin-left: 10px;
}

#barInscription
{
	float: right;
	width: 280px;
	border:1px solid #CCC;
	background: #F8F8F8;
	margin: 5px;
}

#barInscription h3
{
	font-size: 1.6em;
	margin-bottom: 20px;
}

#barInscription li
{
	font-size: 1.2em;
	margin-bottom: 20px;
}

#barInscription li, #barInscription a
{
	color: orange;
}

.boutonCreer
{
	border-top: 1px solid #CCC;
	padding: 5px;
	margin-top: 20px;
	text-align: right;
	font-size: 1.3em;
	font-weight: bold;
}

.boutonCreer a
{
	display: block;
	width: 100%;
	height: 100%;
}

.boutonCreer:hover
{
	background: #CCC;
}

.boutonCreer p
{
	margin: 4px;
	padding: 0px;
	float: right;
	margin-right: 10px;
}

.boutonCreer img
{
	float: right;
}

.liensCrealio
{
	color: orange;
	font-size: 1.2em;
}

#preFooter
{
	text-align: right;
	color: #999999;
	font-size: 0.8em;
}

#preFooter a
{
	color: #999999;
	text-decoration: none;	
}

/* POP UP DE MAIL */
#popUpMail
{
	width: 600px;
	background: url("img/fond_noir_80.png");
	text-align: left;
	position: absolute;
	margin-left: 50%;
	left: -300px;
	top: 100px;
}

#popUpMail .title
{
	color: white;
	font-size: 1.8em;
	border-bottom: white solid 1px;
}

