#cv {
//    border: solid red 1px;
}

.field {
//    border: solid green 1px;
    margin-bottom: 30px;
}

.item {
//    border: solid blue 1px;
    padding-left: 30px;
}

.item_hidden {
    display: none;
}

.button_edit {
//    margin-left: 10px;
    width: 20px;
    border: none;
    cursor: pointer;
    background: url("img/write.png") no-repeat left;
}

.button_cancel {
//    margin-left: 10px;
    width: 20px;
    border: none;
    cursor: pointer;
    background: url("img/cancel.png") no-repeat left;
}

.button_valid {
//    margin-left: 10px;
    width: 20px;
    border: none;
    cursor: pointer;
    background: url("img/ok.png") no-repeat left;
}

.button_delete {
//    margin-left: 10px;
    width: 20px;
    border: none;
    cursor: pointer;
    background: url("img/delete.png") no-repeat left;
}

.button_new {
    cursor: pointer;
}

.colonneA {
//    border: solid red 1px;
}

.colonneB {
//    border: solid blue 1px;
    margin-left: 30px;
}

#cv p {
    display: inline;
    padding-left: 30px;
}

.cv_item
{
    margin-left: 10px;
}