{% extends "index.html" %}

{% block title %}{{SITE_NAME}} - Faites vous un nom sur Internet{% endblock %}

{% block content %}


<div id="mainFull">


<div style="width: 800px; height: 300px;">
	<img src="{{ MEDIA_URL }}/skins/crealio/img/accueil2.jpg" alt="Accueil de Crealio" style="border: none;" />
</div>

<div class="ligneAccueil">
    <div class="caseSimpleAccueil">
        <h3>Créez votre Web CV</h3>
        <p>Grâce à Créalio, créez en 5 minutes votre WebCV. Si votre cursus y est présenté, c'est surtout l'ensemble de vos créations que créalio souhaite mettre en avant.</p>
    </div>
    <div class="caseSimpleAccueil">
        <h3>Référencement Optimum !</h3>
        
        <p>Un <acronyme title="Curriculum Vitæ">CV</acronyme> n'est bon que s'il est mis en avant ! Grâce à <strong>Créalio</strong>, faites qu'en Googlant votre nom, l'on trouve autre chose qu'un profil Facebook.</p>
    </div>
    <div class="caseSimpleAccueilInscription">
        <a href="/inscription/formulaire/" ><p class="texteGrosBouton"><em>Inscription gratuite<br/></em></p>
			<h4 class="sousTexteGrosBouton">Cliquez ici !</h4></a>
    </div>
   <div style="clear: both;"></div>
   
</div>

<div class="ligneAccueil">
    <div class="caseSimpleAccueil">
        <h3>Voir un exemple ?</h3>
        
        <p>Pour vous donner une idée du type de <acronyme title="Curriculum Vitæ">CV</acronyme> que l'on peut produire grâce à <strong>Créalio</strong>, consultez donc ceux déjà réalisés : <a href="/annuaire/">Quelques Exemples</a></p>
    </div>
    <div class="caseSimpleAccueil">
        <h3>Et une version Papier</h3>
        
        <p>Vous pouvez utiliser la fonctionnalité d'impression afin de générer une version papier de votre CV que vous pourrez envoyer directement aux entreprises.</p>
    </div>
    <div class="caseSimpleAccueil" class="accueilInscription">
        <h3>Donnez nous votre Avis !!</h3>
        
        <p>Une fonctionnalité vous manque ? N'hésitez pas à nous le faire savoir et peut être que nous la développerons pour vous.</p>
    </div>

    <div style="clear: both;"></div>

</div>
					
</div> 	

{% endblock %}
