{% extends "index.html" %}
{% block content %}
    <h2>Inscription</h2>
        <div style="width: 800px; height: 300px;">
	  <a href="http://fr.fotolia.com/id/1339101">
	    <img src="{{ MEDIA_URL }}/skins/crealio/img/fotolia/1339101.png" alt="Photo en instance d'achat" title="Achetez là sur fotolia.com" />
	  </a>
	</div>
        <p>Votre inscription a bien été prise en compte, merci de consulter votre boite email pour la valider.</p>
        <p><em><u>Note :</u> Vérifier la boite de courrier indésirable car étant donné que le mail a été envoyé depuis un site web il se peut qu'il soit considérer comme un spam</em></p>
{% endblock %}
