{% extends "index.html" %}
{% load thumbnail %}
{% block content %}

<div id="mainFull">

	<div style="width: 100%;">

		<div style="margin: auto; width: 412px;"><img src="{{ MEDIA_URL }}/skins/crealio/img/Partenariat.jpg" alt="Partenaire WebCV" /></div>

		<p>Créalio reste en constante recherche de partenaire afin de proposer à ses utilisateurs une solution logicielle des plus complètes. Si vous souhaitez conclure un partenariat avec nous, <a href="/contact/">contactez nous</a> et nous étudierons votre proposition dans les plus brefs délais.</p>

		<div class="boxPartenairePub">
			<h3>Partenaires publicitaires :</h3>
			<div class="boxPartenairePubBox">
				<script type="text/javascript"><!--
				google_ad_client = "pub-0150814735647856";
				/* Crealio _ 728x90, 03/02/09 */
				google_ad_slot = "8700925496";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>	
			</div>

			<div style="clear: both;"></div>
		</div>
	</div>
</div>
{% endblock %}
	