{% extends "index.html" %}
{% load thumbnail %}
{% block content %}

<div id="mainFull">
	<div style="width: 100%;">
		<h2>Plan du site</h2>
		<div class="planGauche">
			<h3>Le site Créalio</h3>
			<p>
			  <a href="/accueil/">Accueil</a><br/>
			  <a href="/presentation/">Les Fonctionnalités</a><br/>
			  <a href="/inscription/">Votre Créalio</a><br/>
			  <a href="/annuaire/">Quelques Exemples</a><br/>
			  <a href="/partenaires/">Nos Partenaires</a><br/>
			  <a href="/connexion/">Connexion</a><br/>
			  <a href="/contact/">Contact</a>
			</p>
		</div>
		<div class="planDroite">
			<h3>Les utilisateurs</h3>

			{% for site in sites %}
			<div class="listeAnnuairePlan"><p><a href="http://{{site.domain}}/">http://{{site.domain}}/</a></p></div>
			{% endfor %}

		</div>
		<div style="clear: both;"></div>
	</div>
</div>
{% endblock %}
