{% extends "index.html" %}
{% block css %}
<link  rel="stylesheet"  href="{{ ADMIN_MEDIA }}css/widgets.css" type="text/css" /> 
<link  rel="stylesheet"  href="{{ MEDIA_URL }}skins/crealio/calendar.css" type="text/css" /> 
{% endblock %}
{% block jscript %}
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{{ ADMIN_MEDIA }}js/core.js"></script>
<script type="text/javascript" src="{{ ADMIN_MEDIA }}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ ADMIN_MEDIA }}js/calendar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jscripts/DateTimeShortcuts.js"></script>
{% endblock %}
{% block content %}

    <h2>Inscription</h2>
        <fieldset>
            <legend>Etape {{step}} / {{step_count}}</legend>
         	<form method="post">
         		<table>
         		 {{form}}
         		 <th colspan="2" style="text-align: right"><input type="submit" value="Suivant ->" /></th>
         		</table>
         		<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
         		{{ previous_fields|safe }}
         		
         	</form>
        </fieldset>
{% endblock %}
