{% extends "index.html" %}

{% block title %}Accueil - {{SITE_NAME}}{% endblock %}

{% block content %}

<!-->
			<div id="sidebar">
			
				<h1>Tutoriels</h1>
				<ul class="sidemenu">
					<li><a href="/tutoriels/">Bientôt</a></li>
		
				</ul>
			
				
			</div>		
-->
	  		<div id="mainFull"> 



<div style="width: 100%;">

<h2>Besoin d'aide ?</h2>

<p>Cette page est actuellement en cours de développement. Elle sera constituée d'un ensemble de tutoriel afin de faciliter l'utilisation de l'application. Vous pouvez pour la moment utiliser les nombreuses zones d'aide dispersées un peu partout sur le site.</p>
<p>Pour vous donner une idée des sujets qui seront abordés, voici le titre des futurs rubriques :</p>
<h3>Tutoriels d'aide à la prise en main de Créalio</h3>
<ul>
	<li>Création de votre Créalio</li>
	<li>Administrer votre Créalio</li>	
	<li>La page Curriculum vitae</li>
	<li>La page Créalio</li>
	<li>Les avantages du compte Premium</li>
	<li>Premium : La création de page</li>
	<li>Premium : Les statistiques avancés</li>
	<li>Premium : Description de tous les autres avantages</li>
	
</ul>
<h3>Quelques conseils pour la recherche d'emploi</h3>
<ul>
	<li>Réalisation de votre CV - les informations</li>
	<li>Réalisation de votre CV - la présentation</li>
	<li>Un web CV comme Créalio, "Pour quoi faire ?"</li>
	<li>Répondre a des annonces</li>
	<li>Préparer un entretien</li>
</ul>


</div>
								
	  		</div> 	



{% endblock %}
