{% extends "base_admin.html" %}
{% block title %}{{page.title}} - Administration - {{ portfolio_name }}  - {{SITE_NAME}}{% endblock %}

{% block css %}
<link rel="stylesheet" media="screen" type="text/css" href="{{ MEDIA_URL }}/skins/crealio/cv/cv.css" />
{% endblock css %}

{% block jscript %}
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="http://{{ DOMAIN_NAME }}/medias/jscripts/tiny_conf_cv.js"></script>
<script type="text/javascript">
    function edit_field(id,cancel)
    {
        display_default();
        name_field = "field_" + id;
        name_form = "form_" + id;
        if(!cancel)
        {
            document.getElementById(name_field).style.display = "None";
            document.getElementById(name_form).style.display = "block";
        }
        else
        {
            document.getElementById(name_field).style.display = "block";
            document.getElementById(name_form).style.display = "None";            
        }
    }

    function edit_item(id,cancel)
    {
        display_default();
        name_field = "item_field_" + id;
        name_form = "item_form_" + id;
        if(!cancel)
        {
            document.getElementById(name_field).style.display = "None";
            document.getElementById(name_form).style.display = "block";
        }
        else
        {
            document.getElementById(name_field).style.display = "block";
            document.getElementById(name_form).style.display = "None";            
        }
    }

    function edit_new(id,cancel)
    {
        display_default();
        name_field = "new_field_" + id;
        name_form = "new_form_" + id;
        if(!cancel)
        {
            document.getElementById(name_field).style.display = "None";
            document.getElementById(name_form).style.display = "block";
        }
        else
        {
            document.getElementById(name_field).style.display = "block";
            document.getElementById(name_form).style.display = "None";            
        }
    }


    //fonction qui affiche tous les fields et cache tous les forms
    //affichage par defaut du cv
    function display_default()
    {
        var forms = getElementsByClass( "cv_form" );
        for(var i=0; i<forms.length; i++)
            forms[i].style.display = "None";
        
        var fields = getElementsByClass( "cv_field" );
        for(var j=0; j<fields.length; j++)
            fields[j].style.display = "block";
    }
    
    function getElementsByClass(name)
    {
        var divs = document.getElementById("cv").getElementsByTagName('div');
        var resultats = new Array();
        for(var i=0; i<divs.length; i++)
            if(divs[i].className == name)
                resultats.push(divs[i]);
        return resultats;
    }

    function conf_suppr()
    {
        return confirm("Êtes-vous sûr de vouloir supprimer ce champ de votre CV ?");
    }
</script>
{% endblock %}

{% block content %}


<div class="boutonAidePopUp">
<p><a href="" onclick="openPopUpAideId('aidePopUp'); return false;"><em>Aide ?</em></a></p>
</div>

<h2 class="titre_cv">Curriculum Vitæ</h2>
<h3 class="titre_cv">{{ user.first_name }} {{ user.last_name }}</h3>


<!-- ############ DEBUT DU POP UP L'AIDE ########### -->
<script type="text/javascript" src="{{MEDIA_URL}}/jscripts/aide/popUpAide.js"></script>

<div id="aidePopUp">
<div class="boutonClosePopUp"><a href="" onclick="openPopUpAideId('aidePopUp'); return false;"></a></div>
<p>Cette page vous permet de mettre en ligne votre CV.</p><p>
Pour ce faire, il vous suffit de créer des rubriques dans lesquelles vous allez répartir vos compétences.
</p><p>
Par exemple :

<table style="width: 65%;margin: auto;">
  <tr>
    <th colspan="2">Formation</th>
  </tr>
  <tr>
    <td class="cv_item">2009</td>

    <td><p>UTBM, Belfort</p></td>
  </tr>
  <tr>
    <td class="cv_item">2008</td>
    <td><p>University of Portsmouth, UK</p></td>
  </tr>
  <tr>
    <th colspan="2">Expérience Professionnelle</th>
  </tr>
  
  <tr>
    <td class="cv_item">Juin 2008</td>
    <td><p>Stage de 3 mois pour Simple It</p></td>
  </tr>
  
</table>

Le formulaire ci dessous, vous permet d'ajouter une rubrique pour y mettre des informations ordonnées.

<p style="width: 65%; color: orange;margin:auto;text-align: center;">
Un CV doit faire un portrait très rapide de vous,<br/> une page voire deux mais surtout pas plus.<br />
Sur internet cela correspond à environ 5 rubriques de 5 lignes.
</p>

</div>

<!-- ############ FIN DE L'AIDE ########### -->


<div id="cv">  {# balise englobante #}
    
    {% for form in forms %}
    
    <div class="field">  {# bloc d'un field#}
    
    <div class="colonneA">
         
         {%if form.field %}
            <div id="field_{{form.field.pk}}" style="display: block" class="cv_field">
            <input type="button" title="Modifier" name="" value=" " onclick="edit_field({{form.field.pk}},false);" class="button_edit" />            
            {{ form.field.title }}
            </div>
            <div id="form_{{form.field.pk}}" style="display: None" class="cv_form" >
            <input type="button" title="Annuler" name="" value=" " onclick="edit_field({{form.field.pk}},true);" class="button_cancel" />
            <form method="POST" action=".">
            {{ form.form }}
            <input type="hidden" name="field_pk" value="{{form.field.pk}}"/>
            <input type="hidden" name="order" value="{{form.field.order}}"/>
            <input type="submit" title="Supprimer" name="field_suppr" value=" " onclick="return conf_suppr();" class="button_delete" />            
            <input type="submit" title="Valider" name="field" value=" " class="button_valid" />
            </form>
            </div>
    </div>	

    <div class="colonneB">
            {% for item in form.items %}

                {% if item.item %}

                <div id="item_field_{{item.item.pk}}" style="Display: block" class="cv_field" class="item" >

                    <input type="submit" name="" title="Modifier" value=" " onclick="edit_item({{item.item.pk}},false);" class="button_edit" />
                    {{ item.item.title }}                    
                    {{  item.item.desc|safe }}
                
                </div>
                <div id="item_form_{{item.item.pk}}" style="Display: None" class="cv_form" class="item"  >
                <input type="button" title="Annuler" name="" value=" " onclick="edit_field({{form.field.pk}},true);" class="button_cancel" />
                <form method="POST" action=".">
                    {{ item.form }}
                    <input type="hidden" name="order" value="{{item.item.order}}"/>
                    <input type="hidden" name="field_pk" value="{{form.field.pk}}"/>
                    <input type="hidden" name="item_pk" value="{{item.item.pk}}"/>
                    <input type="submit" title="Supprimer" name="item_suppr" value=" " onclick="return conf_suppr();" class="button_delete" />
                    <input type="submit" title="Valider" name="item" value=" " class="button_valid" />
                </form>
                </div>

                {% else %}

                    <div id="new_field_{{form.field.pk}}" style="Display: block" class="cv_field">
                        <input type="button" name="" value="Ajouter un item" onclick="edit_new({{form.field.pk}},false);" class="button_new" />
                    </div>
                    
                    <div id="new_form_{{form.field.pk}}" style="Display: None" class="cv_form">
                        <input type="button" title="Annuler" name="" value=" " onclick="edit_new({{form.field.pk}},true);" class="button_cancel" />
                        <form method="POST" action=".">
                        {{item.form}}
                        <input type="hidden" name="order" value="{{item.form.order}}" />
                        <input type="hidden" name="field_pk" value="{{form.field.pk}}"/>
                        <input type="submit" title="Valider" name="item" value=" " class="button_valid" />
                        </form>
                    </div>
                {% endif %}
            
            {% endfor %}
    </div>
        {% else %}
            <div id="new_field_" style="Display: block" class="cv_field">
                <input type="button" name="" value="Ajouter un champ" onclick="edit_new('',false);" class="button_new" />        
            </div>
            <div id="new_form_" style="Display: None" class="cv_form">            
                <input type="button" title="Annuler" name="" value=" " onclick="edit_new('',true);" class="button_cancel" />
                <form method="POST" action=".">
                {{form.form}}
                <input type="hidden" name="order" value="{{form.form.order}}" />
                <input type="submit" title="Valider" name="field" value=" " class="button_valid" />
                </form>
           </div>
        {% endif %}
    </div>

    {% endfor %}
    
</div>
{% endblock %}
