{% extends "base_admin.html" %}
{% block title %}{{page.title}} - Administration - {{ portfolio_name }}  - {{SITE_NAME}}{% endblock %}

{% block css %}
<link rel="stylesheet" media="screen" type="text/css" href="{{ MEDIA_URL }}/skins/crealio/cv/cv.css" />
{% endblock css %}


{% block jscript %}
<script type="text/javascript">
    function ordreUp(num, name)
    {
		// 1. num est l'id du field courant
		// 2. tmp est l'id du field précédent
		// 3. Soustraire 1 à l'id courant / Ajouter 1 à l'id précédent
		// On reçoit field_2 ou item_1_2 c'est du type (.*)_[\d+]
		// On déduit field_1 ou item_1_1
        var tmp=parseInt(num)+1;
        if(document.getElementById(name+"_"+tmp)) 
        {
            document.getElementById(name+"_"+num).value = parseInt(document.getElementById(name+"_"+num).value)+1;
            document.getElementById(name+"_"+tmp).value = parseInt(document.getElementById(name+"_"+tmp).value)-1;
            document.getElementById('formordre').submit();
        }
        
    }
    
    function ordreDown(num,name)
    {
        var tmp=parseInt(num)-1;
        if(document.getElementById(name+"_"+tmp)) 
        {        
            document.getElementById(name+"_"+num).value = parseInt(document.getElementById(name+"_"+num).value)-1;
         
            document.getElementById(name+"_"+tmp).value = parseInt(document.getElementById(name+"_"+tmp).value)+1;
        
            document.getElementById('formordre').submit();
        }
        
    }

</script>
{% endblock %}



{% block content %}
<form method='post' action='' id='formordre'><table style="width: 100%;">
	  {% for field in fields %}
	  <tr>
		<td style="width: 50px;">
			<a href="" onclick="ordreDown('{{ field.ordre }}','field'); return false;"><img src="{{ MEDIA_URL }}/skins/crealio/img/flecheUp.png" alt="up"/></a>
			<a href="" onclick="ordreUp('{{ field.ordre }}','field'); return false;"><img src="{{ MEDIA_URL }}/skins/crealio/img/flecheDown.png" alt="down"/></a>
		</td>
	    <td><input id='field_{{ field.ordre }}' type="hidden" name="field_{{ field.ordre }}" value="{{ field.ordre }}" /><strong>{{field.title}}</strong></td>
	  </tr>
	  {% for item in field.items %}
	  <tr>
		<td style="padding-left: 10px;width: 50px;">
		<a href="" onclick="ordreDown('{{ item.ordre }}','item_{{ field.ordre }}'); return false;"><img src="{{ MEDIA_URL }}/skins/crealio/img/flecheUp.png" alt="up"/></a> 
		<a href="" onclick="ordreUp('{{ item.ordre }}','item_{{ field.ordre }}'); return false;"><img src="{{ MEDIA_URL }}/skins/crealio/img/flecheDown.png" alt="down"/></a>
		</td>
	    <td style="padding-left: 10px;"><input id='item_{{ field.ordre }}_{{ item.ordre }}' type="hidden" name="item_{{ field.ordre }}_{{ item.ordre }}" value="{{ item.ordre }}" />{{ item.title }}</td>
	  </tr>
	  {% endfor %}
	  {% endfor %}
	</table>
</form>


{% endblock content %}

